.tile
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-image
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;

    aspect-ratio: 1;
}

.tile-image:hover
{
    cursor: grab;
}

.tile-image:active
{
    cursor: grabbing;
}

.black-tile 
{
    background-color: var(--black-tile);
}

.white-tile
{
    background-color: var(--white-tile);
}